# Terminator's profile config (colors and font used on the screenshot)

background_color = "#282a36"
background_image = None
font = Fira Mono for Powerline Medium 10
foreground_color = "#eff0eb"
palette = "#282a36:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
use_system_font = False
